{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="{% static 'script.js' %}">

    </script>
  </head>
  <body>
    <a href="/">Home</a>
    {% if user.is_authenticated %}
      <a href="#">My Profile</a>
      <a href="#">Inbox</a>
      <a href="{% url 'dashboard:logout' %}">logout</a>
    {% else %}
      <a href="{% url 'dashboard:login' %}">Login</a>
      <a href="{% url 'dashboard:signup' %}">Signup</a>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
