asgiref==3.8.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
certifi==2024.7.4
cffi==1.17.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==43.0.0
daphne==4.1.2
defusedxml==0.8.0rc2
dj-database-url==2.2.0
dj-rest-auth==6.0.0
Django==5.0.7
django-allauth==65.1.0
django-ckeditor==6.7.1
django-ckeditor-5==0.2.13
django-cleanup==9.0.0
django-cors-headers==4.4.0
django-crispy-forms==2.3
django-environ==0.11.2
django-heroku==0.3.1
django-htmx==1.21.0
django-jazzmin==3.0.0
django-js-asset==2.2.0
django-mathfilters==1.0.0
django-paypal==2.1
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djoser==2.2.3
docker==7.1.0
environ==1.0
et-xmlfile==1.1.0
gunicorn==23.0.0
hyperlink==21.0.0
idna==3.7
incremental==24.7.2
msgpack==1.1.0
numpy==2.1.2
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==10.4.0
psycopg==3.2.1
psycopg2==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2024.1
pywin32==308
redis==5.2.0
requests==2.32.3
requests-oauthlib==2.0.0
service-identity==24.1.0
setuptools==75.2.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
Twisted==24.7.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
whitenoise==6.7.0
zope.interface==7.1.0
